<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<div id="partnersCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center">

    <!-- 1-ci slayd -->
    <div class="carousel-item active">
      <div class="d-flex justify-content-center">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">
        <img src="/img/puma.png" alt="Puma" style="height:100px; margin: 2%; ">
        <img src="/img/coach.png" alt="Coach" style="height:100px; margin: 2%; ">
        <img src="/img/adidas.png" alt="Adidas" style="height:100px; margin: 2%; ">
        <img src="/img/nike.png" alt="Nike" style="height:100px; margin: 2%; ">
        <img src="/img/gucci.png" alt="Gucci" style="height:100px; margin: 2%; ">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">
        <img src="/img/puma.png" alt="Puma" style="height:100px; margin: 2%; ">
        <img src="/img/gucci.png" alt="Gucci" style="height:100px; margin: 2%; ">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">
        <img src="/img/puma.png" alt="Puma" style="height:100px; margin: 2%; ">
        <img src="/img/coach.png" alt="Coach" style="height:100px; margin: 2%; ">

      </div>
    </div>

    <!-- 2-ci slayd -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">
        <img src="/img/puma.png" alt="Puma" style="height:100px; margin: 2%; ">
        <img src="/img/coach.png" alt="Coach" style="height:100px; margin: 2%; ">
        <img src="/img/adidas.png" alt="Adidas" style="height:100px; margin: 2%; ">
        <img src="/img/nike.png" alt="Nike" style="height:100px; margin: 2%; ">
        <img src="/img/gucci.png" alt="Gucci" style="height:100px; margin: 2%; ">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">
        <img src="/img/nike.png" alt="Nike" style="height:100px; margin: 2%; ">
        <img src="/img/gucci.png" alt="Gucci" style="height:100px; margin: 2%; ">
        <img src="/img/miu-miu.png" alt="Miu-miu" style="height:100px; margin: 2%; ">

      </div>
    </div>

  </div>
  <!-- Oxlar -->
  <button class="carousel-control-prev" type="button" data-bs-target="#partnersCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#partnersCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<footer class="bg-dark text-white pt-5 pb-4 mt-5">

  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- Trusted Partners -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Trusted Partners</h5>
        <p>Adidas | Nike | Gucci | Merrell | Puma</p>
      </div>

      <!-- About -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">About Footwear</h5>
        <p>Premium shoes & bags with trusted quality.</p>
        <div>
          <a href="#"><i class="fab fa-twitter text-white mx-2"></i></a>
          <a href="#"><i class="fab fa-facebook text-white mx-2"></i></a>
          <a href="#"><i class="fab fa-linkedin text-white mx-2"></i></a>
          <a href="#"><i class="fab fa-dribbble text-white mx-2"></i></a>
        </div>
      </div>

      <!-- Customer Care -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Customer Care</h5>
        <p><a href="#" class="text-white">Contact</a></p>
        <p><a href="#" class="text-white">Returns/Exchange</a></p>
        <p><a href="#" class="text-white">Gift Voucher</a></p>
        <p><a href="#" class="text-white">Wishlist</a></p>
      </div>

      <!-- Information -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Information</h5>
        <p><a href="/about" class="text-white">About Us</a></p>
        <p><a href="#" class="text-white">Delivery Information</a></p>
        <p><a href="#" class="text-white">Privacy Policy</a></p>
        <p><a href="#" class="text-white">Order Tracking</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact Information</h5>
        <p><i class="fas fa-home mr-3"></i> 291 South 21th Street, Suite 721, New York NY 10016</p>
        <p><i class="fas fa-envelope mr-3"></i> info@yoursite.com</p>
        <p><i class="fas fa-phone mr-3"></i> +1 235 2355 98</p>
        <p><i class="fas fa-globe mr-3"></i> yoursite.com</p>
      </div>
    </div>

    <hr class="mb-4">

    <!-- Copyright -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2026 BREND&HOUSE. All rights reserved | Made with ♥ by YourTeam</p>
      </div>
    </div>
  </div>
</footer>

</html>