<%- include('partials/Header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery və Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- About Banner -->
  <section class="about-banner">
    <div class="overlay">
      <div class="about-text">
        <h2>About Us</h2>
        <h3>Radical Solution for the World’s Greatest Marathoner</h3>
        <p>
          October 30, 2025 — Eliud Kipchoge, the marathon GOAT, prepares for his debut at the New York City Marathon.
          For this milestone, he partners with Nike to test a one-of-a-kind Radical AirFlow top,
          a breakthrough innovation from All Conditions Gear (ACG).
        </p>
        <p>
          His journey from prototype to race-day ready reflects the spirit of “just doing it.”
          Eliud’s feedback and dedication continue to inspire product innovation worldwide.
        </p>
        <button>Learn More</button>
      </div>
    </div>
  </section>
  
  <%- include('partials/Footer') %>