body {
    padding-bottom: 0px;
}

.card-img-top {
    height: 70%;
    width: 100%;
    object-fit: cover;

}

.text-decoration-line-through {
    text-decoration: line-through;
}

.about-banner {
  width: 100%;
  height: 50%;
  background-image: url("../img/banner.jpg"); /* style.css public/css içindədirsə */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-banner .overlay {
    background: rgba(0, 0, 0, 0.5);
    /* şəffaf qara overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    color: #fff;
    max-width: 700px;
    text-align: center;
    padding: 20px;
}

.about-text h2 {
    font-size: 96px;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.about-text h2:hover{
    color: #f08c00;
}

.about-text h3 {
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 500;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-text button {
    padding: 10px 40px;
    background: #f08c00;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.6s;
}

.about-text button:hover {
    background: #d9770610;
    transform: rotate(20px);
}
.carousel-inner img {
  max-height: 100px;
  object-fit: contain;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100% 100%;
}